{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <section>
        <h1>Statistics</h1>
        <dl>
            <dt>Total users:</dt>
            <dd>{{ user_total_count }}</dd>
            <dt>Total user access tokens:</dt>
            <dd>{{ token_total_count }}</dd>
            <dt>Total submits:</dt>
            <dd>{{ data_total_count }}</dd>
            <dt>Last week submits:</dt>
            <dd>{{ data_weekly_count }}</dd>
            <dt>Yesterday submits:</dt>
            <dd>{{ data_daily_count }}</dd>
        </dl>
    </section>
{% endblock %}
